{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'highlight/styles/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
{% endblock %}

{% block main %}
    <h1>{{ blog.title|escape }}</h1>
    <hr>
    <div class="mt-2">
        {% if blog.author.profile and blog.author.profile.avatar %}
            <img src="{{ blog.author.profile.avatar.url }}" class="rounded-circle" width="30" height="30" alt="" style="object-fit: cover;">
        {% else %}
            <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="30" height="30" alt="">
        {% endif %}
        <a href="{% url 'liauth:profile_detail_by_id' user_id=blog.author.id %}" class="text-decoration-none text-body-secondary ms-2">{{ blog.author.username|escape }}</a>
        <span class="ms-2">于</span>
        <span class="ms-2">{{ blog.pub_time|date:"Y年m月d日 H时i分" }}</span>发布
    </div>
    <hr>
    <div class="py-2">
        {{ blog.content|safe }}
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（{{ blog.comments.all|length }}）:</h3>
        <form action="{% url 'blog:pub_comment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="blog_id" value="{{ blog.id }}">
            <div class="mt-2">
                <textarea class="form-control" placeholder="请输入评论" name="content" rows="3" maxlength="500"></textarea>
            </div>
            <div class="text-end mt-2">
                <button type="submit" class="btn btn-primary">评论</button>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            {% for comment in blog.comments.all %}
              <li class="list-group-item mb-3">
                  <div class="d-flex justify-content-between text-body-secondary">
                      <div class="user-info">
                          {% if comment.author.profile and comment.author.profile.avatar %}
                              <img src="{{ comment.author.profile.avatar.url }}" class="rounded-circle" width="40" height="40" alt="" style="object-fit: cover;">
                          {% else %}
                              <img src="{% static 'image/avatar.webp' %}" class="rounded-circle" width="40" height="40" alt="">
                          {% endif %}
                          <a href="{% url 'liauth:profile_detail_by_id' user_id=comment.author.id %}" class="text-decoration-none text-body-secondary ms-2">{{ comment.author.username|escape }}</a>
                      </div>
                      <div class="creat-time" style="line-height: 40px;">{{ comment.pub_time|date:"Y年m月d日 H时i分" }}</div>
                  </div>
                  <div class="mt-2">{{ comment.content|linebreaksbr }}</div>
              </li>
            {% endfor %}
        </ul>
    </div>
    <script>
    hljs.highlightAll();
    </script>
{% endblock %}